Host *

  # create a semi-persistent socket so that connections can be shared.
  ControlPath .ssh.%r@%h:%p
  ControlMaster auto
  ControlPersist 15m

  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
